@model MVC_Training1.Models.AddOrSubtractModels
@{
    ViewBag.Title = "Addition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Operation)</h2>
<ul>
    <li>
        @Model.Result
    </li>
</ul>

