
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hover on button to change color</h2>
<div class="body">
    <button class="btn  color-change">Hover me</button>
</div>
